@font-face {
    font-family: 'bungee';
    src: url(../../src/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
    font-family: 'code';
    src: url(../../src/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

@keyframes rainbow-background {
    0% {background-color: red;}
    50% {background-color: lime;}
    100% {background-color: blue;}
}

:root {
    --theme-primary: #181818;
    --theme-secondary: #ff3e3e;
    --font-color: rgb(0, 0, 0);
}

body {
    background: var(--theme-primary);
}

.r {
    animation: 50ms rainbow-background linear infinite alternate;
}

.dotted-bg {
    background-image: radial-gradient(#0004 1px, transparent 1px);
    background-size: 5px 5px;
    background-repeat: repeat;
    background-position: 50% 50%;
}

#tbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: black;
    z-index: 1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background: var(--theme-primary);
    border: 1px solid black;
    box-shadow: 5px 5px 0px 0px #0003;
    padding: 1rem;
    z-index: 2;
}

.container .topbar {
    width: 100%;
    height: 3rem;
    color: var(--font-color);
    font-size: 1.25rem;
    font-family: 'bungee';
}

.topbar .fs {
    position: absolute;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    grid-column: 10;
    background-color: rgb(0, 160, 255);
    background-image: url(../../src/svg/fullscreen.svg);
    background-size: 1.5rem 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
        left: unset;
        top: unset;
    }
}

.container .game-container {
    position: relative;
    border: 1px solid black;
    box-shadow: 3px 3px 0px 0px #0003;
    width: auto;
    height: auto;
}

.container #canvas {
    position: relative;
    background: #fafafa;
}

.game-container #gameEditor {
    position: absolute;
    top: 50%;
    left: calc(100% - 1rem);
    transform: translate(-100%, -50%);
    width: 160px;
    height: 540px;
    padding: .5rem;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: .5rem;
    overflow: hidden;
    background: #000d;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    z-index: 2;
}

#gameEditor * {
    font-family: 'code';
    color: white;
}

#gameEditor input {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-align: center;
    background: #101010;
    color: white;
}

#gameEditor button {
    width: 100%;
    height: auto;
    background: #101010;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    transition: filter 60ms ease-out;

    &:hover {
        filter: brightness(50%);
    }
}

.container .panel {
    position: relative;
    top: 1rem;
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

button {
    position: relative;
    background: var(--theme-secondary);
    color: white;
    font-family: 'bungee';
    border: 1px solid black;
    outline: none;
    box-shadow: 5px 5px 0px 0px #0003;
    cursor: pointer;
    transition: 70ms;

    &:hover {
        top: 3px;
        left: 3px;
        box-shadow: 2px 2px 0px 0px #0003;
    }
}